# Konfiguracja SMTP (home.pl)
SMTP_HOST=poczta2666244.home.pl
SMTP_PORT=465
SMTP_USER=support@zenexcode.pl
SMTP_PASS=Blazej0112@0112

# Losowy sekretny klucz API - frontend musi wysyłać ten sam w nagłówku x-api-key
# Wygeneruj np. na https://www.random.org/strings/?num=32&len=32&digits=on&upperalpha=on&loweralpha=on&unique=on
MAIL_API_KEY=K7mQ9xLp2VzN8aRw4HyT1cFd6JsUb3Xe

# Port serwera (Render sam nada PORT)
PORT=3001
